---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials



/* ==========================================================================
   Custom CSS
   ========================================================================== */

/*
   default-slim layout options
   ========================================================================== */
  
    /* Gimme them sexy fonts */
    .layout--portfolio p {
      font-family: 'Playfair Display', serif;
      font-size: 1.4em;
    }

/* 
  portfolio styles
  =========================================================================== */

  @media (min-width: 64em) {
    .layout--portfolio .page {
     float:right;
     width:calc(100% - 100px);
     padding-right:100px
    }
   }
   @media (min-width: 80em) {
    .layout--portfolio .page {
     width:calc(100% - 200px);
     padding-right:200px;
    }
   }
  
  
  /*
    Archive something?
  
    */
    .archive a.excerpt_permalink {
       color: #52adc8;
     }
  